<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rodrigues.eliete.milhasinfantis"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        app:theme="@style/AppThemeLight">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ParentsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".ChildrenRegisterActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".CategoriesActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".CategoriesRegisterActivity"
            android:parentActivityName=".CategoriesActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity" />
        </activity>

        <activity android:name=".GoalsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".GoalsRegisterActivity"
            android:parentActivityName=".GoalsActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsActivity" />
        </activity>

        <activity android:name=".AwardsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".AwardsRegisterActivity"
            android:parentActivityName=".AwardsActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AwardsActivity" />
        </activity>

        <activity android:name=".PenaltiesActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".PenaltiesRegisterActivity"
            android:parentActivityName=".PenaltiesActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PenaltiesActivity" />
        </activity>

        <activity android:name=".AboutAppActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".GraphAllChildActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".ChildrenDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".ChildrenEditionActivity"
            android:parentActivityName=".ChildrenDetailActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildrenDetailActivity" />
        </activity>

        <activity android:name=".LikeActivity"
            android:parentActivityName=".ChildrenDetailActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildrenDetailActivity" />
        </activity>

        <activity android:name=".DislikeActivity"
            android:parentActivityName=".ChildrenDetailActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildrenDetailActivity" />
        </activity>

        <activity android:name=".ChildrenRescuePointsActivity"
            android:parentActivityName=".ChildrenDetailActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildrenDetailActivity" />
        </activity>

        <activity android:name=".HistoryActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".AssociationActivity"
            android:parentActivityName=".ChildrenDetailActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildrenDetailActivity" />
        </activity>

        <activity android:name=".ChildrenGraphActivity"
            android:parentActivityName=".ChildrenDetailActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildrenDetailActivity" />
        </activity>



    </application>

</manifest>
