<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rodrigues.eliete.milhasinfantis"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        app:theme="@style/AppThemeLight">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
